/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .sticky-sidebar {
    padding-top: 100px;
  }
  #main {
    /* margin-top: 80px; */
    white-space: normal;
    height: 100vh;
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

/* Portrait and Landscape */
/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	html, body {
		width: auto;
		margin: 0;
	}
	#bio_row {
		width: 350px;
		padding: 30px;
		padding-bottom: 0px;
	}
	hr {
		width: 200px;
		margin-bottom: 25px;
	}
	p {
		font-size: 1.3em;
	}
	#icons_row {
		text-align: left;
		margin-top: 25px;
		margin-left: 25px;
		margin-right: 200px;
		margin-bottom: 20px;
	}
} */

/* Galaxy S6, S7, S7 Edge */
@media only screen and (min-device-width: 360px) /* and (min-device-width: 340px) */ and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  CSS Rules Here html,
  body {
    width: auto;
    margin: 0;
  }

  .about-page {
    padding: 0px;
    padding-top: 30px;
    height: 100%;
  }
  .hero-name {
    font-size: 55px;
    padding: 30px 30px 5px 30px;
  }

  .hero-name .comment {
    display: none;
  }

  .contact {
    display: none;
  }

  .contact-mobile {
    padding: 0px 20px 10px 30px;
    display: inline;
    color: #c7c7c7;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 900;
  }

  .email-mobile {
    display: inline;
    color: #0075ff;
    font-family: Roboto;
    font-weight: 900;
    text-transform: uppercase;
    font-style: bold;
    letter-spacing: 0.045em;
  }

  .bio {
    padding: 20px 30px 0px 30px;
    margin-top: 0;
  }

  .social-icons {
    margin: 30px 0px;
    text-align: center;
  }

  /* Portfolio-mobile */
  #portfolio {
    padding-top: 50px;
  }

  .face-app-img {
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 100%;
  }

  #guides {
    height: 100vh;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* CSS Rules Here */
}