a:link {
	color: rgb(39, 39, 39);
	text-decoration: none;
}
  
a:visited {
	color: rgb(39, 39, 39);
	text-decoration: none;
}
  
a:hover {
	color: rgb(39, 39, 39);
	text-decoration: none;
}
  
a:active {
	text-decoration: none;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	/* gap: 1px 1px; */
	grid-template-areas: ". .";
}

.github_icon  {
	margin: 10px;
}

.linkedin_icon {
	margin: 10px;
}

#portrait {
	max-width: 100%;
	/* width: 700px; */
	height: auto;
}

#bio {
	text-align: center;
	background-color: rgb(17, 0, 255);
	padding: 100px;
	padding-top: 250px;
}