
body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	/* gap: 1px 1px; */
	grid-template-areas: ". .";
}

/* SOCIAL ICONS */
.github_icon  {
	margin: 0px 10px;
}

.linkedin_icon {
	margin: 0px 10px;
}

/* RECENT PROJECTS */
.row {
	/* display: inline; */
	display: table;
}

.iphone1, .iphone2, .iphone3 {
	width: 200px;
	height: auto;
}

.iphone {
	/* box-shadow:20px 20px 50px grey; */
}

/* LINKS */
a:link {
	color: rgb(39, 39, 39);
	text-decoration: none;
}
  
a:visited {
	color: rgb(39, 39, 39);
	text-decoration: none;
}
  
a:hover {
	color: rgb(39, 39, 39);
	text-decoration: none;
}
  
a:active {
	text-decoration: none;
}

.right_col {
	background-color: rgb(64, 127, 243);
}

#portrait {
	max-width: 100%;
	height: auto;
}

#icons_row {
	text-align: center;
	margin-left: auto; /* https://www.lifewire.com/center-images-with-css-3466389 */
	margin-right: auto;
}

.book_list {
	text-align: center;
	margin: 30px;
}

#iphones_row {
	text-align: center;
	margin-top: 25px;
	margin-left: auto; /* https://www.lifewire.com/center-images-with-css-3466389 */
	margin-right: auto;
}

#bio_row {
	text-align: center;
	padding: 100px;
	padding-bottom: 0px;
	padding-top: 100px;
}