
html, body {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(121, 121, 121);
	color: rgb(39, 39, 39);
}

h1 {
	 font-size: 4rem;
	 font-weight: 500;
	 margin: auto 0px;
}

h4 {
	font-size: 2rem;
	font-weight: 400;
	margin: 10px auto;
}

p {
	margin: 0;
}

hr {
	border: 1px solid rgb(73, 73, 73);
}

/* SOCIAL ICONS */
.github_icon  {
	margin: 0px 10px;
}

.linkedin_icon {
	margin: 0px 10px;
}

/* RECENT PROJECTS */
.row {
	/* display: inline; */
	display: table;
}

.iphone1, .iphone2, .iphone3 {
	width: 200px;
	height: auto;
}

/* LINKS */
a:link {
	color: rgb(39, 39, 39);
	text-decoration: none;
}
  
a:visited {
	color: rgb(39, 39, 39);
	text-decoration: none;
}
  
a:hover {
	color: rgb(39, 39, 39);
	text-decoration: none;
}
  
a:active {
	text-decoration: none;
}

/* .wrapper {
	background-color: rgb(64, 127, 243);
} */

#bio_row {
	text-align: left;
	padding: 235px;
	padding-bottom: 0px;
	padding-top: 100px;
}

#icons_row {
	text-align: left;
	margin-top: 20px;
	margin-left: 235px; /* https://www.lifewire.com/center-images-with-css-3466389 */
	margin-right: 240px;
}

.book_list {
	text-align: center;
	margin: 30px;
}

#iphones_row {
	text-align: center;
	margin-top: 25px;
	margin-left: auto; /* https://www.lifewire.com/center-images-with-css-3466389 */
	margin-right: auto;
}
